:root {
}

.botao-menu {
    font-size: 29px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 206, 209);
    width: 232px;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.botao-menu {
    left: -213px;
    top: 75px;
    width: 232px;
    height: 80px;
    font-size: 29px;
    -unity-font-style: bold;
}

.botao-menu {
    left: -213px;
    top: -254px;
    width: 232px;
    height: 80px;
    font-size: 29px;
    -unity-font-style: bold;
}

.botao-menu {
    width: 232px;
    height: 80px;
    white-space: pre;
    right: -194px;
    top: -94px;
}

.botao-menu {
    width: 232px;
    height: 80px;
    top: -176px;
    right: -698px;
}
