:root {
}

.tela {
    transition-property: opacity, translate, filter;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease-out, ease-out-elastic, ease-out;
}

.tela-saindo {
    opacity: 0;
    translate: 100px 0;
    scale: 1 1;
    filter: blur(10);
    background-size: 100% 100%;
}

.tela-entrando {
    opacity: 1;
}

.text-pisca {
    transition-property: opacity, scale;
    transition-duration: 0.5s, 0.8s;
    transition-timing-function: ease-in-out, ease-in-out;
}
